* {
    margin: 0;
    padding: 0;
}

#blogList li {
    padding: 10px;
    border-bottom: 1px #CCC solid;
    font-size: 16px;
    background-color: #EEE;
}

#blogList li:nth-child(even) {
    background-color: white;
}
